[submodule "device-tree-xlnx"]
	path = device-tree-xlnx
	url = https://github.com/Xilinx/device-tree-xlnx.git
[submodule "linux-xlnx"]
	path = linux-xlnx
	url = https://github.com/Xilinx/linux-xlnx.git
[submodule "u-boot-digilent"]
	path = u-boot-digilent
	url = https://github.com/Digilent/u-boot-digilent.git
[submodule "PYNQ"]
	path = PYNQ
	url = https://github.com/Xilinx/PYNQ.git
